body {
  font-family: 'VT323', monospace;
  font-size: 1.5em;
  background-color: black;
  color: white;
}
textarea {
  border: none;
  border-color: transparent;
}
input {
  background-color: rgba(0, 0, 0, 0.1);
  color: green;
  border: none;
  width: 100%;
}
.outcol
{
	color:#42f4e8;
}
.usr
{
	color:#c157d6;
}
input:focus {
  outline: none;
}
a {
    color: #42f4e8;
    text-decoration: underline;
}
a:hover {
    color: white;
    text-decoration: underline;
}